.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 992px){

.container{
    max-width: 960px;
}
}

.py-3 {
    padding-top: 10rem;
    padding-bottom: 1rem;
}

.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}

.border-top {
    border-top: 1px solid #dee2e6;
}
.d-flex {
    display: flex;
    padding: 0px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul.nav.col-md-4.justify-content-end {
    justify-content: space-between;
}